body{
    background-image: url(_image_two.png);
    background-color: gray;
}


div#corpo{
    background-color: lightblue;
    margin-top: 15%;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 20px;
    padding: 0.5%;
    padding-top: 2%;
    box-shadow: 0px 0px 3px 0px black;
    

   
}

div#tela{
    background-color: brown;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 4%;
    box-shadow: inset 0px 0px 20px 0px black;


    
}

table{
    width: 100%;
}


button{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 11px 0px black;
    border-radius: 5px;
    font-weight: bolder;
}

button:hover{
   background-color: lightgrey;
}
    

p{
    color: white;
    font-size: 20px;
    text-align: center;
}
    
    
